# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de compilación
dist/
dist-ssr/
build/

# Archivos locales y de configuración de entorno
*.local
.env
.env.local
.env.development
.env.production
.env.test

# Caché de Vite
.vite/

# Archivos del editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
