.navbar {
    background: linear-gradient(90deg, #0059b8, #013466); /* Degradado azul */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0px 6px 14px rgb(57, 72, 155); /* Sombra más fuerte */
    transition: all 0.3s ease-in-out;
    border: none;
}

.navbar:hover {
    box-shadow: 0px 8px 18px rgb(0, 9, 61); /* Sombra más fuerte */
    transform: scale(1.02);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.navbar a:hover {
    color: var(--white);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    transform: scale(1.1);
}