.footer {
    background: linear-gradient(90deg, #003366, #004080); /* Azul oscuro degradado */
    color: var(--white);
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3); /* Sombra arriba */
}
